
<table >
    <tr class="country-info">
        <td>
            <p class="capital"><span class="text"><b>Capital: </b></span>{{capital}}</p>
        </td>
    </tr>
    <tr class="country-info">
        <td>
            <p class="population"><span class="text"><b>Population: </b></span>{{population}}</p>
        </td>
    </tr>
    <tr class="country-info">
        <td>
            <p class="country"><span class="text"><b>Languages: </b></span>{{#each languages}} {{name}}{{/each}}</p>
        </td>
    </tr>
</table>
