<table class="country-list__item">
    <tr>
        <td>
            <img align="middle" class="country-list__flag" src="{{flags.svg}}" alt="Flag of  {{name.official}}" width=40px height=40px>
        </td>
        <td>
            <h2 align="middle" class="country-list__name">{{name.official}}</h2>
        </td>
    </tr>
</table>

